<div class="references">

  <div class="rw">
    <div class="bg-icon-3">
      <i class="fa-solid fa-users icon-3"></i>
    </div>
    <div class="text-5">REFERENCES</div>
  </div>

  @if (items && items.length > 0) {
    @for (ref of items; track ref.name) {
      <div class="pd-2" (click)="onClick(ref.name)">
        <div class="text-6">{{ ref.name }}</div>
        <div class="text-7">{{ ref.address }}</div>
        <div class="text-7">Tel: {{ ref.tel }}</div>
        <div class="text-7">Email: {{ ref.email }}</div>
      </div>
    }
  } @else {
    <p class="empty">No references provided.</p>
  }

</div>
